{% extends "list.html" %}
{% load i18n %}

{% block content %}
    <header class="sidebar-header d-flex justify-content-center align-items-center" style="height: 100vh; text-align: center;">
        <div>

            <h1>{% trans "Update Existing Car Info" %}</h1>
            <form method="POST" enctype="multipart/form-data" style="text-align: left;">
                {% csrf_token %}
                {{ form.as_p }}

                {% if form.errors %}
                
                    {% for field, errors in form.errors.items %}
                    <p class="error-message" style="color:red;">{{ errors|join:", " }}</p>
                    {% endfor %}
                
                {% endif %}
                <button type="submit" class="btn btn-primary btn-lg" style="display: block; margin: 0 auto;">{% trans "Submit" %}</button>
            </form>
        </div>
    </header>
{% endblock %}